<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaGram Video Downloader</title>
</head>
<body>
    <div>
        <h1>Instagram Reels, Videos, Photos Downloader</h1>
        <form action="{{url_for('download')}}" method="POST">
            <div>
                <label for="urlText">Enter URL</label>
                <input type="text" id="url" name="urlText" required>
                <button onclick="pasteLink()">Paste</button>
                
            </div>
            <input type="submit" value="ClickHere">
        </form>
    </div>
    <script>
        const url = document.querySelector('#url')
        function pasteLink(){
            navigator.clipboard.readText().then(text =>{
                url.value = text;
                console.log(url.value)
            })
        }
    </script>
</body>
</html>